<ion-pane>
  <ion-content>

    <section  data-ng-init="init()">
     
      <div class="slide-box">
        <ion-slide-box on-slide-changed="onSlideChanged(index)" >
          <ion-slide ng-repeat="selfie in selfies" >
            <img ng-src="{{selfie.url}}"  style="width:100%;margin-bottom:15px"/>
            <span>
              {{ selfie.desc }}
            </span>
          </ion-slide>
        </ion-slide-box>
      </div>
      
       <div class="row padding" >
          <div class="col col-50">
              <button class="button button-full" ng-click="nextSlide()">
                Skip
              </button>
          </div>
          <div class="col col-50">
              <button class="button icon-left ion-camera button-full button-balanced" ng-click="takeSelfie()">
                 Take Selfie
              </button>
          </div>
      </div>

    </section>   

  </ion-content>
</ion-pane>